html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
ol,
ul,
li {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Helvetica';
	color: #353535;
	font-size: 14px;
	line-height: 1;
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

input,
textarea,
select,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	padding: 0;
	outline: none;
	-webkit-border-radius: 0;
	border-radius: 0;
}

img {
	max-width: 100%;
	display: block;
}
a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.inline-block {
	display: inline-block;
}
.space-between {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.space-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.flex-end {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.flex-start {
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.space-around {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.align-items-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.align-items-start {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.flex-shrink-0 {
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
.flex-grow {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.relative {
	position: relative;
}
.cursor-pointer {
	cursor: pointer;
}
.d-block {
	display: block;
}
.w-100 {
	width: 100%;
}
.h-100 {
	height: 100%;
}
.w-max-content {
	width: max-content;
}
.h-max-content {
	height: max-content;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.uppercase {
	text-transform: uppercase;
}

.color-blue {
	color: #506cee;
}

.color-black {
	color: #1c1d21;
}

.color-gray {
	color: #353535;
}

.color-gray-secondary {
	color: rgba(0, 0, 0, 0.6);
}

.bg-blue {
	background-color: #4051b5 !important;
	color: #fff !important;
}

.font-bold {
	font-weight: bold;
}

.font-18 {
	font-size: 18px;
}

.font-52 {
	font-size: 52px;
}

.font-weight-400 {
	font-weight: 400;
}

.font-weight-700 {
	font-weight: 700;
}

.font-bpg {
	font-family: 'BPG-Square-Banner';
}

.font-notosans {
	font-family: 'NotoSansLight';
}

.text-decoration-underline {
	text-decoration: underline;
}

.transition {
	transition: all 0.3s;
}

.overflow-hidden {
	overflow: hidden;
}

.header__navlink {
	padding: 5px;
	padding-top: 4px;
}

.header__navlink.active::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #506cee;
	height: 2px;
}
.header__navlink.active .header__navlink {
	color: #506cee;
}

.position-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.slick-slider {
	overflow: hidden;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-17 {
	margin-bottom: 17px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-25 {
	margin-bottom: 25px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-80 {
	margin-top: 80px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mr-5 {
	margin-right: 5px;
}
.ml-5 {
	margin-left: 5px;
}
.mr-15 {
	margin-right: 15px;
}

.main__section {
	flex-grow: 1;
	height: 100vh;
	overflow: auto;
}

.section__container {
	width: 100%;
	padding: 7% 3%;
}

.MuiListItem-button.bg-blue span.MuiTypography-root {
	color: #fff !important;
}

.MuiListItem-button {
	padding-top: 13px !important;
	padding-bottom: 13px !important;
}

.ql-editor.ql-blank::before {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-style: initial;
}

@keyframes expand {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}
@media screen and (min-width: 768px) {
	@keyframes expand {
		from {
			width: 0%;
		}
		to {
			width: calc(100% - 75px);
		}
	}
}
.chart {
	width: 0%;
	animation: expand 1.5s ease forwards;
}
.row + .row .chart {
	animation-delay: 0.2s;
}
.row + .row + .row .chart {
	animation-delay: 0.4s;
}
.chart .block {
	display: block;
	height: 30px;
	color: #fff;
	float: left;
	position: relative;
	cursor: pointer;
}
.chart .block:nth-of-type(1) {
	background-color: rgba(84, 84, 84, 0.4);
}
.chart .block:nth-of-type(2) {
	background-color: rgba(18, 135, 41, 0.4);
}
.chart .block:nth-of-type(3) {
	background-color: rgba(255, 99, 132, 0.4);
}

.chart .legend {
	position: absolute;
	bottom: -32px;
	background-color: #3f51b5;
	padding: 5px;
	left: 50%;
	border-radius: 5px;
	opacity: 0;
	visibility: hidden;
	white-space: nowrap;
	transform: translateX(-50%);
}

.chart .block:hover .legend {
	position: absolute;
	bottom: -32px;
	background-color: #3f51b5;
	padding: 5px;
	left: 50%;
	border-radius: 5px;
	opacity: 1;
	visibility: visible;
	transform: translateX(-50%);
}
.chart .value {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
